.subscription-warning {
    border-radius: 5px;
    background: #fff9bf;
    padding: 10px 40px;
}

.subscription-warning ul li{
    list-style-type: disc;
    color: #9b872f
}

.subscription-errors {
    border-radius: 5px;
    background: #ffbfbf;
    padding: 10px 40px;
}

.subscription-errors ul li{
    list-style-type: disc;
    color: #9b2f2f
}