<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Благодарю</title>
</head>
<body>
<div class="wrapper" style="text-align: center">
    <h1>Навигация Благодарю</h1>

    <ul>
        <li><a href="main.html" style="margin-bottom: 10px;display: block;">Главная</a></li>
        <li><a href="main-btn-user.html" style="margin-bottom: 10px;display: block;">Авторизованый пользователь</a></li>
        <li><a href="selected-section.html" style="margin-bottom: 10px;display: block;">Выбранный раздел</a></li>
        <li><a href="selected-product.html" style="margin-bottom: 10px;display: block;">Выбранный товар</a></li>
        <li><a href="user-product.html" style="margin-bottom: 10px;display: block;">Страница с товарами выбранного пользователя</a></li>
        <li><a href="cabinet.html" style="margin-bottom: 10px;display: block;">Кабинет пользователя</a></li>
        <li><a href="featured-product.html" style="margin-bottom: 10px;display: block;">Избранные товары</a></li>
        <li><a href="subscription.html" style="margin-bottom: 10px;display: block;">Подписка</a></li>
        <li><a href="referral.html" style="margin-bottom: 10px;display: block;">Реферальная программа</a></li>
        <li><a href="personal-data.html" style="margin-bottom: 10px;display: block;">Персональные данные</a></li>
        <li><a href="contact-info.html" style="margin-bottom: 10px;display: block;">Контактная информация</a></li>
        <li><a href="cabinet-password.html" style="margin-bottom: 10px;display: block;">Изменить пароль</a></li>
         <li><a href="submit-ad.html" style="margin-bottom: 10px;display: block;">Подать объявление</a></li>
        <li><a href="result-search.html" style="margin-bottom: 10px;display: block;">Результат поиска</a></li>
        <li><a href="page-question.html" style="margin-bottom: 10px;display: block;">Вопрос-ответ</a></li>
        <li><a href="information-page.html" style="margin-bottom: 10px;display: block;">Информационная страница</a></li>
        <li><a href="login.html" style="margin-bottom: 10px;display: block;">Вход в личный кабинет</a></li>
        <li><a href="page-reset-password.html" style="margin-bottom: 10px;display: block;">Страница восстановления пароля</a></li>
    </ul>
</div>

</body>
</html>